
body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}
.container {
  max-width: 500px;
  margin: auto;
}
input, textarea, button {
  padding: 10px;
  margin: 8px 0;
  width: 90%;
  border-radius: 8px;
  border: none;
}
button {
  background: red;
  color: white;
  font-weight: bold;
}
.entry {
  background: #111;
  padding: 10px;
  border-radius: 12px;
  margin: 10px 0;
  text-align: left;
}
